h1 {
    color: red;
}
h2 {
    color: blue;
}
img {
    width: 0%;
}
/*TABLETS*/
@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        color: blue;
    }
    h2 {
        color: yellow;
    }
}

@media (min-width: 766px) and (max-width: 767px) {
    img {
        width: 100%;
        height: auto;
    }
}
/*CELULARES*/
@media (max-width: 765px) {
    h1 {
        color: blue;
    }
    h2 {
        color: green;
    }
}